<div class="container">
<div> 
  <hr>
  <h2> <p class="font-italic inline">Solicitudes</p></h2>  
  <hr>
</div>
{{#if publications}}
  <table class="table table-light table-bordered table-hover overflow-y: hidden">
    <thead class="table-secondary">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Nombre</th>
        <th scope="col">Tipo</th>
        <th scope="col">URL</th>
        <th scope="col">Fecha</th>
        <th scope="col">Aprobado</th>
        <th scope="col">Editar</th>
        <th scope="col">Eliminar</th>
      </tr>
    </thead>
    <tbody>   
      {{#publications}} 
        <tr>
          <th scope="row">{{index}}</th>
          <td>{{name}}</td>
          <td>{{clase}}</td>
          <td>{{URL}}</td>
          <td>{{fecha_i}}</td>
          <td>{{approved}}</td>
          <td>
            <a index="{{@index}}" type="button" onclick="comprobarEliminar(this)"  color="8c141b" title="Eliminar" class="pt-1"><i class="fa fa-trash" style="color: black;"></i></a>
            <form action="/publications/delete/{{_id}}?_method=DELETE" method="POST">
              <button type="submit" style="display: none;" id="deleteButton{{@index}}" class="btn"><i class="fa fa-trash"></i>
              </button>
            </form>
          </td>
        </tr>
      {{/publications}}     
    </tbody>
  </table>
{{else}}
  <br>
  <br>
  <br>
  <div>
    <h4>No se encontraron solicitudes</h4>
  </div>
{{/if}}
</div>
