<div class="col-md-8 mx-auto mt-0">
    <div class="card ">
        <div class="card-header text-center bg-light">
            <h1 class="h4 text-black font-weight-bold">Agregar el primer administrador</h1>
        </div>
        <div class="card-body">
            <form action="/users/createAdmin" method="POST" class="justify-content-center" id="FormValidate" onkeydown="return event.key != 'Enter';" novalidate>
            <!--form id="fakeForm" class="justify-content-center" novalidate-->  
                <h6 class="font-weight-bold mt-0 mb-1">Información personal</h6>                              
                <div class="form-group row">
                    <div class="col mb-2">                     
                        <select class="form-select mr-sm-2" id="inlineFormCustomSelect" name="identification_type" required>                         
                                <option value="" disabled selected>--- Elija un tipo de identificación ---</option>                            
                                <option value="Cedula">Cédula</option>
                                <option value="Cedula_extrangeria">Cédula de extrangeria</option>
                                <option value="Pasaporte">Pasaporte</option>
                                <option value="Tarjeta_identidad">Tarjeta de identidad</option>
                                <option value="Registro_civil">Registri civil</option>
                                <option value="Carnet_diplomatico">Carné diplomático</option>
                                <option value="Salvoconducto">Salvoconducto</option>
                                <option value="Perm_especial_permanencia">Perrmiso especial de permanencia</option>
                                <option value="Documento_extrangero">Documento extrangero</option>
                                <option value="Sin_identificacion">Sin identificación</option>
                        </select>
                    </div> 
                    <div class="col mb-2">
                        <input type="number" class="form-control bg-light" name="identification" placeholder="No. de identificación" value="{{identification}}" required>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col mb-0">
                            <input type="text" class="form-control bg-light" name="name" placeholder="Nombres"
                                value="{{name}}" required>
                    </div>
                    <div class="col mb-0">
                        <input type="text" class="form-control bg-light" name="lastname" placeholder="Primer apellido"
                                value="{{lastname}}" required>
                    </div>
                    <div class="col mb-0">
                        <input type="text" class="form-control bg-light" name="sec_lastname" placeholder="Segundo apellido" value="{{sec_lastname}}" required>
                    </div>
                </div>
                                                        
                <hr>

                <h6 class="font-weight-bold mt-0 mb-1">Datos de localización</h6>                              
                <div class="form-group row"> 
                    <div class="col-md-6 mb-2"> 
                        <input type="number" class="form-control bg-light" name="phone"
                            placeholder="Teléfono" value="{{phone}}" required>
                    </div>
                    <div class="col-md-6 mb-2"> 
                        <input type="text" class="form-control bg-light" name="address"
                            placeholder="Dirección" value="{{address}}" required>
                    </div>
                    <div class="col-md-6 mb-0"> 
                        <select class="form-select mr-sm-2" name="departamento" id="departamentoSelect"
                            onchange="if (this.selectedIndex) municipiosList(this);" required>
                            <option selected disabled value="">-- Departamento --</option>
                            {{#json}}
                            <option value="{{departamento}}">{{departamento}}</option>
                            {{/json}}
                        </select>
                    </div>
                    <div class="col-md-6 mb-0"> 
                        <select class="form-select mr-sm-2" name="municipio" id="munipiosSelect" required>
                            <option selected disabled value="">-- Municipio --</option>
                        </select>
                    </div>
                </div>
                <hr>

                <h6 class="font-weight-bold mt-0 mb-1">Información de sesión</h6>                              
                <div class="form-group row d-flex justify-content-center">                    
                    <div class="col-md-6 mb-2">                        
                        <select class="form-select mr-sm-2" id="role" name="role" required>
                            <option value="Admin">Administrador de la plataforma</option>
                        </select>
                    </div>
                    <div class="col-md-6 mb-2">
                        <input type="email" class="form-control bg-light" name="email" placeholder="Email"
                            value="{{email}}" required>
                    </div>
                    <div class="col-md-6 mb-0">
                        <input type="password" class="form-control bg-light" name="password" placeholder="Contraseña" required>
                    </div>
                    <div class="col-md-6 mb-0">
                        <input type="password" class="form-control bg-light" name="confirm_password" placeholder="Confirmar contraseña" required>           
                    </div>                   
                </div>
                <hr>        

                <div class="col text-center">
                    <a type="button" style="color:white; background-color: rgb(140, 20, 27); border: 0;" onclick="checkInputs()" class=" btn btn-primary">Crear</a>
                    <button id="realClick" type="submit" style="color:white; background-color: rgb(140, 20, 27); border: 0;" class="d-none btn btn-primary">Crear</button>
                </div>        
            </form>        
        </div>
    </div>    
</div>
<br> 