<div class="col-md-8 mx-auto mt-0">
    <div class="card ">
        <div class="card-header text-center bg-secondary">            
            <h1 class="h4 text-white font-weight-bold">Mi perfil</h1>
        </div>
        <div class="card-body">

            <h5 class="font-weight-bold text-center mt-0 mb-1">Información personal</h5>
                <hr class="mt-0 mb-0">                        
                <div class="form-group row mb-0 mt-0">    
                    <div class="col-md-4">
                        <label class="bg-light font-weight-bold">Nombres y apellidos:</label>                           
                    </div>                
                    <div >                         
                        <a class="bg-light">{{user.name}} {{user.lastname}} {{user.sec_lastname}}</a>    
                    </div>                                         
                </div>  
                <div class="form-group row mb-0">    
                    <div class="col-md-4">
                        <label class="bg-light font-weight-bold">Tipo de Identificación:</label>                           
                    </div>                
                    <div >                         
                        <a class="bg-light">{{user.identification_type}}</a>    
                    </div>                                         
                </div> 
                <div class="form-group row mb-0">    
                    <div class="col-md-4">
                        <label class="bg-light font-weight-bold">Identificación:</label>                           
                    </div>                
                    <div >                         
                        <a class="bg-light">{{user.identification}}</a>    
                    </div>                                         
                </div>

                <h5 class="font-weight-bold text-center mt-0 mb-1">Datos de localización</h5>
                <hr class="mt-0 mb-0">
                <div class="form-group row mb-0">    
                    <div class="col-md-4">
                        <label class="bg-light font-weight-bold">Teléfono:</label>                           
                    </div>                
                    <div >                         
                        <a class="bg-light">{{user.phone}}</a>    
                    </div>                                         
                </div>
                <div class="form-group row mb-0">    
                    <div class="col-md-4">
                        <label class="bg-light font-weight-bold">Dirección:</label>                           
                    </div>                
                    <div >                         
                        <a class="bg-light">{{user.address}}</a>    
                    </div>                                         
                </div> 
                <div class="form-group row mb-0">    
                    <div class="col-md-4">
                        <label class="bg-light font-weight-bold">Ciudad:</label>                           
                    </div>                
                    <div >                         
                        <a class="bg-light">{{user.city}}</a>    
                    </div>                                         
                </div> 
                <div class="form-group row mb-0">    
                    <div class="col-md-4">
                        <label class="bg-light font-weight-bold">Departamento:</label>                           
                    </div>                
                    <div >                         
                        <a class="bg-light">{{user.department}}</a>    
                    </div>                                         
                </div>  

                <h5 class="font-weight-bold text-center mt-0 mb-1">Información de sesión</h5>
                <hr class="mt-0 mb-0">
                <div class="form-group row mb-0">    
                    <div class="col-md-4">
                        <label class="bg-light font-weight-bold">Correo electrónico:</label>                           
                    </div>                
                    <div >                         
                        <a class="bg-light">{{user.email}}</a>    
                    </div>                                         
                </div> 
                <div class="form-group row mb-0">    
                    <div class="col-md-4">
                        <label class="bg-light font-weight-bold">Tipo de usuario:</label>                           
                    </div>                
                    <div >                         
                        <a class="bg-light">{{user.role}}</a>    
                    </div>                                         
                </div>
                <div class="col-md-4 mx-auto">                  
                    <a href="/users/home "><button class="btn btn-primary btn-block">Aceptar</button></a>
                </div>                    
        </div>
    </div>    
</div>

<br>
